.banner > input {
    background-color: var(--fgColorLighter);
    color: var(--fgColor);
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-family: 'DynaPuff';
    font-size: x-large;
    border-radius: 0.75rem;
    border: none;
}

.instruments, .bars {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    border: 2px solid var(--fgColor);
    border-bottom-width: 4px;
    justify-content: stretch;
}

.instrument {
    width: 100%;
    text-align: center;
}

.bar {
    width: 100%;
}