.banner > input {
    background-color: var(--fgColorLighter);
    color: var(--fgColor);
    padding: 0.5rem 0.75rem;
    width: 100%;
    font-family: 'DynaPuff';
    font-size: x-large;
    border-radius: 0.75rem;
    border: none;
}

.instruments, .bars {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    border: 2px solid var(--fgColor);
    border-bottom-width: 4px;
    justify-content: stretch;
}

.instrument, .bar {
    width: 100%;
    text-align: center;
    /* TODO: remove !important */
    border-width: 0 1px !important;
}

.instrument:first-child, .bar:first-child {
    /* TODO: remove !important */
    border-left-width: 0 !important;
}

.instrument:last-child, .bar:last-child {
    /* TODO: remove !important */
    border-right-width: 0 !important;
}