header {
    background: linear-gradient(var(--purpleColorLighter), var(--blueColorDarker));
    color: var(--headerTextColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
}

header * {
    margin: auto;
    color: var(--headerTextColor);
}

header a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: var(--spacing);
}

header p {
    margin-right: var(--spacing);
}