:root {
    --spacing: 2rem;
}

@media screen and (max-width: 500pt) {
    :root {
        --spacing: 1rem;
    }
}

body {
    margin: 0;
    color: var(--fgColor);
    background-color: var(--bgColor);
    font-family: "Ubuntu";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Dynapuff";
    color: var(--headerTextColor);
}

main {
    width: calc(100% - 2 * var(--spacing));
    margin-inline: auto;
    margin-bottom: 2rem;
}