.samples {
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--spacing);
}

.new {
    justify-content: center;
    /* TODO: remove !important */
    border-color: var(--fgColorLighter) !important;
}