.samples {
    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--spacing);
}

.sample {
    width: 100%;
    padding: 0.5rem var(--spacing);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sample > .right {
    float: right;
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-end;
}

.sample > .right > * {
    padding: 0.5rem 0.75rem;
    margin: auto;
}

@media screen and (max-width: 500pt) {
    .sample {
        flex-direction: column;
    }

    .sample > .right {
        align-self: flex-end;
    }
}